/* Footer */
footer {
  background-color: var(--footer-color);
  color: white;
}

footer .wrapper {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.email-contact p {
  line-height: 30px;
  font-weight: 500;
  color: var(--border-color);
  font-size: 1rem;
  padding-bottom: 10px;
}

.email-contact form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.email-contact form input {
  width: 300px;
  padding: 10px;
  background-color: var(--text-decoration-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 3px;
  margin: 10px 0;
}

.email-contact form button {
  width: 111.38px;
  margin: 10px 0;
  background: #556988;
  border-radius: 0px 3px 3px 0px;
  color: white;
  border: none;
  margin-left: -5px;
}

/* links & information */

footer .bottom-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .bottom-footer div {
  margin: 10px 0;
}

footer .bottom-footer p {
  line-height: 30px;
  font-weight: 500;
  color: var(--border-color);
}

footer .bottom-footer .title {
  padding: 10px 0;
  font-weight: 600;
  position: relative;
  width: fit-content;
}

footer .bottom-footer .title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 5px;
  left: 0;
  background-color: white;
}

footer .links {
  display: flex;
  flex-direction: row;
}

footer .links ul {
  margin: 0 50px 0 0;
}

footer ul li {
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

@media only screen and (min-width: 758px) {
  footer .bottom-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
