/* 
Section are separated by 
"===== name of section =====" comments 
*/

/*================ ShowBox Section =================*/
#show-box {
  margin-top: 0;
  min-height: 40vh;
  background-image: url("../assets/images/show_box.jpg");
  background-size: cover;
  position: relative;
}

#show-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 73, 179, 0.6);
  z-index: 0;
}

#show-box .brand {
  width: 100%;
  padding: 51px;
  z-index: 1;
}

#show-box .brand .brand-name {
  color: white;
  font-size: 48px;
  font-weight: 300;
  margin-bottom: 38px;
  position: relative;
}

#show-box .brand .slogan {
  color: white;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  position: relative;
}

#show-box .brand .slogan:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 12%;
  height: 80%;
  width: 4px;
  background-color: white;
}

/*================ Main Section =================*/
main {
  min-height: 100vh;
}

/*================ Division Section =================*/
#divisions {
  min-height: 100vh;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 19rem));
  justify-content: center;
  grid-gap: 80px;
}

/* Division Box properties */
.division-box {
  height: 400px;
  /* box-shadow: 0px 2px 11px 0 rgba(0, 0, 0, 0.25); */
  position: relative;
  cursor: pointer;
}

/* Thumbnail */
.division-box .thumbnail {
  background-color: grey;
  transition: all 300ms linear;
  height: 100%;
}

.division-box .thumbnail img {
  height: 100%;
  object-fit: cover;
}

/* Black overlay applied to the box */
.division-box:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
}

/* Hover animation */
.division-box:hover:after {
  background-color: rgba(0, 0, 0, 0.56);
}

.division-box .title {
  position: absolute;
  width: 100%;
  height: 24px;
  left: 0px;
  top: 50%;
  font-family: "ApexNew-Medium";
  text-align: center;
  font-size: 24px;
  padding: 0;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 1;
}

.division-box .sub-title {
  position: absolute;
  width: 80%;
  height: 34px;
  left: 10%;
  bottom: 20px;
  color: rgba(255, 255, 255, 0.644);
  font-family: "ApexNew-Medium";
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  z-index: 1;
}

/*================ Mission Section =================*/
#missions {
  background-color: #556988;
  height: 100vh;
}

#missions .boxes {
  width: 90%;
  max-width: 900px;
  height: inherit;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#missions .boxes .box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-self: center;
}

#missions .boxes .prefix {
  margin: 10px;
}

#missions .boxes .prefix img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

#missions .boxes .title {
  color: rgba(255, 255, 255, 0.644);
  font-weight: 500;
  padding: 10px 0;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
}

#missions .boxes .text-body {
  color: #889ba2;
  max-width: 900px;
}

/*================ Sponsors Section =================*/
#sponsors {
  padding: 50px;
}

#sponsors .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: 0 auto;
  /* justify-content: center; */
  justify-content: space-evenly;
}

#sponsors img {
  width: 200px;
  margin: 0 20px;
}

@media only screen and (min-width: 758px) {
  /*================ Show-box Section =================*/
  #show-box {
    min-height: 100vh;
  }

  #show-box .brand {
    padding-left: 160px;
    padding-top: 160px;
  }

  #show-box .brand .brand-name {
    font-size: 96px;
    line-height: 112px;
    margin-bottom: 59px;
  }

  #show-box .brand .slogan {
    font-size: 64px;
    line-height: 75px;
  }

  /*================ Mission Section =================*/
  #missions {
    height: 100vh;
    padding: 10px 0;
  }

  #missions .boxes .box {
    flex-direction: row;
    align-items: flex-start;
    align-self: flex-start;
  }

  #missions .boxes .prefix {
    margin-right: 44px;
  }

  #missions .boxes .title {
    color: white;
    font-size: 1.2rem;
    line-height: 28px;
  }
  /*================ Sponsors Section =================*/
  #sponsors {
    padding: 50px;
  }

  #sponsors .boxes {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
  }
}
