/* Fonts */
@import "fonts.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Variables */
:root {
  --primary-color: #1219cd;
  --primary-r1-color: #090ea6;
  --accent-color: #5561bb;
  --dark-color: #323543;
  --footer-color: #030515;
  --green-color: #76a184;
  --bg-color: #f4f4f4;
  --text-decoration-bg-color: #eeeeee;
  --border-color: #efeff5;
}

/* Default style */

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.text-align-center {
  text-align: center;
}

section {
  margin: 20px 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li:hover a:hover {
  color: inherit;
  opacity: 0.7;
}

ul {
  list-style: none;
}

.btn {
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.btn-accent {
  color: white;
  background-color: var(--accent-color);
}

.btn-green {
  color: white;
  background-color: var(--green-color);
}

.show-mobile {
  display: block;
}

.show-desktop {
  display: none;
}

.form-control {
  width: 100%;
  padding: 10px;
  background-color: var(--text-decoration-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin: 10px 0;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

/* Main style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  background-color: #f9f9f9;
}

/* Desktop Size */
@media only screen and (min-width: 758px) {
  .show-mobile {
    display: none;
  }
  .show-desktop {
    display: flex;
  }
  .col-2 {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
}
