/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");

/* Variables */
:root {
  --primary-color: #1219cd;
  --primary-r1-color: #090ea6;
  --accent-color: #5561bb;
  --dark-color: #323543;
  --footer-color: #030515;
  --green-color: #76a184;
  --bg-color: #f4f4f4;
  --border-color: #efeff5;
}

/* Default style */

.form-control {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.text-align-center {
  text-align: center;
}

section {
  margin: 20px 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.show-mobile {
  display: block;
}
.show-desktop {
  display: none;
}

.title {
  font-family: "Open Sans";
  font-weight: 300;
  padding: 40px;
}

.addCart {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: var(--accent-color);
  cursor: pointer;
}

/* Main style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  background-color: #ffffff;
}

/* Show-box Section */
#show-box {
  margin-top: 0;
  min-height: 100vh;
  background-image: url("../assets/images/show_box.jpg");
  background-size: cover;
  position: relative;
}

#show-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 73, 179, 0.6);
  z-index: 0;
}

#show-box .brand {
  width: 100%;
  padding-left: 160px;
  padding-top: 160px;
  z-index: 1;
}

#show-box .brand .brand-name {
  color: white;
  font-size: 76px;
  font-weight: 300;
  margin-bottom: 59px;
  position: relative;
}

#show-box .brand .slogan {
  color: white;
  font-size: 64px;
  font-weight: 600;
  position: relative;
}

#show-box .brand .slogan:before {
  content: "";
  position: absolute;
  left: -35px;
  top: 12%;
  height: 80%;
  width: 4px;
  background-color: white;
}

/* Category Section */

main {
  min-height: 100vh;
}

#categories {
  min-height: 100vh;
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 4rem;
}

.category-box {
  height: 400px;
  box-shadow: 0px 2px 11px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.category-box .thumbnail {
  background-color: grey;
  height: 100%;
}

.category-box:after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.62);
  z-index: 1;
}

.category-box .thumbnail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.category-box .title {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 250px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  z-index: 2;
}

/* Mission Section */
#missions {
  background-color: #556988;
  min-height: 100vh;
  padding: 10px 0;
}

#missions .boxes {
  width: 90%;
  margin: 0 auto;
}

#missions .boxes .box {
  margin: 71px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#missions .boxes .prefix {
  margin-right: 44px;
}

#missions .boxes .prefix img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

#missions .boxes .box .body {
}

#missions .boxes .title {
  color: white;
  padding: 10px 0;
}

#missions .boxes .text-body {
  color: white;
}

@media only screen and (min-width: 758px) {
  .show-mobile {
    display: none;
  }
  .show-desktop {
    display: block;
  }

  /* Header */
  header {
    background-color: transparent;
    color: white;
    box-shadow: none;
  }

  .scrolled {
    background-color: #fff !important;
    color: var(--dark-color);
    transition: background-color 200ms linear;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .scrolled ul li a {
    color: var(--dark-color);
  }

  ul li a {
    color: white;
  }
}
