header {
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.bottom-navbar {
  position: fixed;
  width: 100%;
  padding: 15px;
  bottom: 0;
  margin: 0;
  background-color: #3649b3;
  z-index: 10;
}

.bottom-navbar nav {
  height: 100%;
}

.bottom-navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.bottom-navbar ul li {
  margin: 0 10px;
}

.bottom-navbar ul li a {
  color: white;
}

@media only screen and (min-width: 758px) {
  /* Header */
  header {
    background-color: transparent;
    color: white;
    box-shadow: none;
  }

  .scrolled {
    background-color: #fff !important;
    color: var(--dark-color);
    transition: background-color 200ms linear;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
  }

  .scrolled ul li a {
    color: var(--dark-color);
  }

  ul li a {
    color: white;
  }

  #header nav ul {
    display: flex;
    flex-direction: row;
  }
  #header nav ul li {
    margin: 0 20px;
  }
}
