/* 
Section are separated by 
"===== name of section =====" comments 
*/

/*================ ShowBox Section =================*/
#show-box {
  margin: 0;
  width: 100%;
  height: 279px;
  background: url("/assets/images/electronic\ cover.png");
  background-size: cover;
  position: relative;
}

#show-box:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(10, 29, 79, 0.34);
  z-index: 0;
}
#show-box h3 {
  position: absolute;
  left: 40px;
  bottom: 40px;

  font-family: Apex New;
  font-style: normal;
  font-weight: 550;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height */

  text-transform: uppercase;
  color: #ffffff;

  z-index: 1;
}

/*================ Main Section =================*/
main {
  margin: 60px 0;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

/*================ Side Menu Section =================*/
main aside ul {
  padding: 20px;
}

main aside ul li {
  padding: 20px;
}

.active {
  width: 100%;
  background: #eeeff2;
  cursor: pointer;
}

main aside ul li a {
  color: var(--dark-color);
  font-family: "ApexNew-Bold";
  font-weight: normal;
}

main aside ul li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

main aside ul li a::before {
  content: "\203A";
  font-size: 24px;
  margin: 0 10px;
}

/*================ Products Section =================*/

#products {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

#products .boxes {
  margin-top: 38px;
}

#products .box:hover > .box-title {
  color: #556988;
}

/* Filters */
#products .filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#products .filter {
  margin: 10px;
  padding: 12px 25px;
  color: var(--dark-color);
  background: #efeff5;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 400ms ease;
}

#products .filter:hover {
  background-color: #556988;
  border: 1px solid rgba(0, 0, 0, 0);
  color: white;
}

/* Product Box */
#products .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 4rem;
}

#products .box {
  height: 150px;
  margin: 10px;
  cursor: pointer;
}

#products .box-thumbnail {
  height: 100%;
}

#products .box-thumbnail img {
  object-fit: contain;
  height: 100%;
}

#products .box-title {
  margin-top: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
