.addCart {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 0.75rem;
  background-color: var(--accent-color);
  cursor: pointer;
}

.show-box {
  width: 100%;
  height: 279px;
  background: rgba(10, 29, 79, 0.34);
  position: relative;
}

.show-box h3 {
  position: absolute;
  left: 43px;
  bottom: 23px;

  font-family: Apex New;
  font-style: normal;
  font-weight: 550;
  font-size: 48px;
  line-height: 48px;
  /* identical to box height */

  text-transform: uppercase;
  color: #ffffff;
}

main {
  margin-top: 69px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

aside ul {
  padding: 20px;
}

aside ul li {
  padding: 20px;
}

aside ul li:hover {
  background-color: #eeeff2;
}

.active {
  width: 100%;
  background: #eeeff2;
}

aside ul li a {
  color: var(--dark-color);
  font-family: "ApexNew-Bold";
  font-weight: normal;
}

aside ul li a::before {
  content: "\203A";
  font-size: 24px;
  margin: 0 10px;
}

.chevron-down::before {
  content: "\203A";
  font-size: 24px;
  margin: 0 10px;
  transform: translate(120px, 50%);
}

.products {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
}

.boxes {
  margin-top: 38px;
}

.box:hover > .box-title {
  color: #556988;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter {
  margin: 10px;
  padding: 12px 25px;
  color: var(--dark-color);
  background: #efeff5;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 30px;
  transition: all 400ms ease;
}

.filter:hover {
  background-color: #556988;
  border: none;
  color: white;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 4rem;
}

.box {
  height: 150px;
  margin: 10px;
}

.box-thumbnail {
  height: 100%;
}

.box-thumbnail img {
  object-fit: contain;
  height: 100%;
}

.box-title {
  margin-top: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
