/* 
Section are separated by 
"===== name of section =====" comments 
*/

/*================ Router Section =================*/
#router {
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-left: 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  /* identical to box height */
  /* background-color: #efeff5; */

  text-transform: capitalize;
  color: #a7a7a7;
}

/*================ Product Section =================*/
#product {
  /* height: 60vh; */
  max-width: 70%;
  min-width: 300px;
  display: grid;
  /* margin: 0 auto; */
  margin: 30px auto;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 1fr;
  grid-gap: 100px;
}

#product .body {
  height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#product .title {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  position: relative;
}

#product .title:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 100%;
  background-color: #d2d2d2;
}

#product .link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#product .link a {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#product .link p {
  margin-left: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  color: #000000;
}

#product .thumbnail {
  height: 300px;
  height: 100%;
}

#product .thumbnail img {
  height: 100%;
  object-fit: contain;
}

#product .btn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  line-height: 28px;
  padding: 5px;
  color: #f3f3f3;
}

/*================ Recommended Products Section =================*/
#products {
  min-height: 90vh;
  margin-top: 47px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #efeff5;
}

#products .btn {
  background-color: white;
  border: 1px solid #d1d1d1;
  color: #a7a7a7;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  width: 180px;
}

#products .btn {
  position: relative;
  background: none;
  z-index: 1;
  overflow: hidden;
}

#products .btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  transition: all 800ms ease;
  background-color: var(--accent-color);
}

#products .btn:hover:after {
  height: 180%;
}

#products .btn:hover,
.btn {
  color: white;
}

#products .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 4rem;
}

#products .boxes .box {
  height: 150px;
  padding: 20px;
  cursor: pointer;
}

#products .boxes .box-thumbnail {
  height: 100%;
  width: 100%;
}

#products .boxes .box-thumbnail img {
  height: 100%;
  object-fit: contain;
}

#products .box-title {
  padding-top: 15px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

/*================ Ask About Product Section =================*/
#ask-product {
  margin: 47px 0;
  height: 80vh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#ask-product .title {
  font-size: 2rem;
  padding: 20px;
  /* identical to box height */
  text-align: center;
  text-transform: uppercase;

  color: #1b1b1b;
}

#ask-product form {
  width: 60vw;
  min-width: 400px;
  height: 70vh;
  min-height: 550px;
  background-color: white;
  padding: 20px 54px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid #efeff5;
}

.form-group {
  margin-bottom: 20px;
}

#ask-product form label {
  display: block;
  font-size: 18px;
  font-family: "Roboto";
}

#ask-product form input {
  font-size: 1rem;
  font-family: "Roboto";
}

#ask-product form textarea {
  font-size: 1rem;
  height: 120px;
  font-family: "Roboto";
}

#ask-product form .btn {
  height: 48px;
  background: grey;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1rem;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 0;
}

/* Desktop Size */
@media only screen and (min-width: 758px) {
  #product {
    height: 60vh;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  #router {
    padding-top: 20vh;
  }

  #ask-product form {
    min-height: 350px;
  }
}
